<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>メインシステムの画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>面接練習</h1>
    <form id="chat-form" action="{{ url_for('main') }}" method="post">
        <input type="text" id="message" name="message" placeholder="メッセージを入力...">
        <button type="submit">送信</button>
        <button type="submit" name="reset" value="reset">リセット</button>
        <button type="submit" name="evaluate" value="evaluate" {% if not conversations %}disabled{% endif
            %}>対話の評価</button>
        <button type="submit" name="change_theme" value="change_theme">テーマの変更</button>
        <label for="model">モデル選択:</label>
        <select id="model" name="model">
            <option value="gpt-3.5-turbo" {% if session['model']=='gpt-3.5-turbo' %}selected{% endif %}>GPT-3.5 Turbo
            </option>
            <option value="gpt-4" {% if session['model']=='gpt-4' %}selected{% endif %}>GPT-4</option>
            <option value="gpt-4o" {% if session['model']=='gpt-4o' %}selected{% endif %}>GPT-4o</option>
        </select>
    </form>
    <div class="chat-container" id="chat-container">
        {% for conversation in conversations %}
        <div class="message {{ conversation.role }}{% if conversation.deviation == '逸脱' %} deviation{% endif %}">
            <p>{{ conversation.content }}</p>
        </div>
        {% endfor %}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <script>
        document.getElementById('chat-form').addEventListener('submit', function (event) {
            const messageInput = document.getElementById('message');
            const isEmptyMessage = messageInput.value.trim() === '';

            if (isEmptyMessage && event.submitter.name !== 'reset' && event.submitter.name !== 'evaluate' && event.submitter.name !== 'change_theme') {
                messageInput.setAttribute('required', 'required');
            } else {
                messageInput.removeAttribute('required');
            }
        });

        // 強制的にチャットの最新部分へスクロールする
        const chatContainer = document.getElementById('chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    </script>
</body>

</html>